<div class="content">
  <div class="cart-container">
    <div class="order-cart">
      <mat-horizontal-stepper
        labelPosition="bottom"
        orientation="vertical"
        linear
        #stepper
        class="mat-elevation-z1 cart-stepper"
      >
        <!-- <mat-step>
          <ng-template matStepLabel>Completado</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step> -->

        <mat-step [editable]="true" [stepControl]="carritoForm">
          <ng-template matStepLabel>Carrito</ng-template>

          <ng-container *ngIf="carritoProducto?.length; else empty_cart">
            <div class="order" *ngIf="carritoProducto.length">
              <header class="order-header">
                <span class="order-title">
                  <mat-icon> shopping_cart </mat-icon>
                  Resumen del pedido
                </span>
                <button
                  mat-button
                  class="btn-remove-all"
                  (click)="
                    deleteCarritoProducto(carritoProducto[0].uuidCliente)
                  "
                >
                  Eliminar todo
                </button>
              </header>
              <ul class="order-list">
                <li class="order-item" *ngFor="let carrito of carritoProducto">
                  <div class="product">
                    <picture class="picture">
                      <img [src]="getImage(carrito.producto.keyName)" alt="" />
                    </picture>

                    <div class="product-detail">
                      <a
                        href="#"
                        [routerLink]="['/product', carrito.producto.uuid]"
                        >{{ carrito.producto.nombre | titlecase }}</a
                      >
                      <span>{{ carrito.producto.descripcion }}</span>
                    </div>
                  </div>

                  <div class="product-options">
                    <div class="product-quantity">
                      <div
                        style="
                          display: flex;
                          flex-direction: column;
                          padding: 0 5px;
                          align-items: center;
                        "
                      >
                        <span
                          class="antes-price no-select text-bold product-price"
                          *ngIf="carrito.producto.descuento > 0"
                          >💸 Bs. {{ carrito.producto.precio }}
                        </span>

                        <span class="no-select text-bold product-price"
                          >Bs.
                          {{
                            carrito.producto.descuento > 0
                              ? getDescuento(carrito.producto)
                              : carrito.producto.precio
                          }}
                        </span>
                      </div>

                      <button
                        mat-icon-button
                        (click)="reduceProductoCarrito(carrito)"
                      >
                        <mat-icon> remove </mat-icon>
                      </button>
                      <span
                        style="min-width: 25px; text-align: center"
                        class="no-select"
                      >
                        {{ carrito.cantidad }}
                      </span>

                      <button
                        mat-icon-button
                        (click)="addCarritoProducto(carrito.producto.uuid)"
                      >
                        <mat-icon> add </mat-icon>
                      </button>
                    </div>

                    <button
                      mat-icon-button
                      color="warn"
                      (click)="deleteOneProducoFromCarrito(carrito.uuid)"
                    >
                      <mat-icon> delete </mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>

            <ng-container *ngIf="carritoProducto.length">
              <mat-divider></mat-divider>
              <div class="total-cart">
                <h1>Total: Bs. {{ getTotalPrice().toFixed(2) }}</h1>
              </div>

              <div class="btn-stepper">
                <button mat-button class="mat-btn-primary" matStepperNext>
                  <mat-icon> last_page </mat-icon>
                  Continuar
                </button>
              </div>
            </ng-container>
          </ng-container>
          <ng-template #empty_cart>
            <section class="empty_cart">
              <img src="./assets/empty_cart.svg" alt="" width="300px" />
              <br />
              <span>Tu carrito esta vacio 🙁 </span>
              <br />
              <button
                mat-button
                class="mat-btn-primary"
                routerLink="/products"
                *ngIf="usuario"
              >
                Ver productos
              </button>

              <div class="no-user-actions">
                <button
                  mat-button
                  class="mat-btn-primary"
                  routerLink="/login"
                  *ngIf="!usuario"
                >
                  Iniciar sesión
                </button>
                <button
                  mat-button
                  class="mat-btn-secondary"
                  routerLink="/register"
                  *ngIf="!usuario"
                >
                  Regístrarse ahora
                </button>
              </div>
            </section>
          </ng-template>
        </mat-step>

        <mat-step
          errorMessage="Name is required."
          [stepControl]="pedidoCarritoForm"
        >
          <ng-template matStepLabel>Detalles del Pedido</ng-template>

          <form class="new-form" [formGroup]="pedidoCarritoForm">
            <section>
              <div class="pedido">
                <h2 class="full-column text-center">Datos Personales</h2>

                <!-- *Nombre -->
                <mat-form-field
                  class="full-width"
                  [color]="isValidField('nombre').color"
                >
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="nombre" autocomplete="no" />
                  <mat-icon matSuffix [color]="isValidField('nombre').color">
                    {{ isValidField("nombre").icon }}
                  </mat-icon>
                  <mat-error
                    *ngIf="pedidoCarritoForm.get('nombre').errors?.required"
                  >
                    Ingrese un nombre.
                  </mat-error>
                  <mat-error
                    *ngIf="pedidoCarritoForm.get('nombre').errors?.pattern"
                  >
                    Ingresa un nombre valido.
                  </mat-error>
                </mat-form-field>

                <!-- *Apellido Paterno -->
                <mat-form-field
                  class="full-width"
                  [color]="isValidField('apellidoPaterno').color"
                >
                  <mat-label>Apellido Paterno</mat-label>
                  <input
                    matInput
                    formControlName="apellidoPaterno"
                    autocomplete="no"
                  />
                  <mat-icon
                    matSuffix
                    [color]="isValidField('apellidoPaterno').color"
                  >
                    {{ isValidField("apellidoPaterno").icon }}
                  </mat-icon>
                  <mat-error
                    *ngIf="
                      pedidoCarritoForm.get('apellidoPaterno').errors?.required
                    "
                  >
                    Por favor ingrese el apellido paterno.
                  </mat-error>
                  <mat-error
                    *ngIf="
                      pedidoCarritoForm.get('apellidoPaterno').errors?.maxlength
                    "
                  >
                    Debe contener
                    {{
                      pedidoCarritoForm.get("apellidoPaterno").errors?.maxlength
                        ?.requiredLength
                    }}
                    letras como maximo.
                  </mat-error>
                  <mat-error
                    *ngIf="
                      pedidoCarritoForm.get('apellidoPaterno').errors?.pattern
                    "
                  >
                    Ingresa un apellido valido.
                  </mat-error>
                </mat-form-field>

                <!-- *Apellido Materno -->
                <mat-form-field
                  class="full-width"
                  [color]="isValidField('apellidoMaterno').color"
                >
                  <mat-label>Apellido Materno</mat-label>
                  <mat-icon
                    matSuffix
                    [color]="isValidField('apellidoMaterno').color"
                    *ngIf="pedidoCarritoForm.value.apellidoMaterno"
                  >
                    {{ isValidField("apellidoMaterno").icon }}
                  </mat-icon>
                  <input
                    matInput
                    formControlName="apellidoMaterno"
                    autocomplete="no"
                  />
                  <mat-error
                    *ngIf="
                      pedidoCarritoForm.get('apellidoMaterno').errors?.maxlength
                    "
                  >
                    Debe contener
                    {{
                      pedidoCarritoForm.get("apellidoMaterno").errors?.maxlength
                        ?.requiredLength
                    }}
                    letras como maximo.
                  </mat-error>
                  <mat-error
                    *ngIf="
                      pedidoCarritoForm.get('apellidoMaterno').errors?.pattern
                    "
                  >
                    Ingresa un apellido valido.
                  </mat-error>
                </mat-form-field>

                <!-- *Celular -->
                <mat-form-field
                  class="full-width"
                  [color]="isValidField('celular').color"
                >
                  <mat-label>Celular</mat-label>
                  <span matPrefix>+591 &nbsp;</span>

                  <input
                    type="tel"
                    matInput
                    placeholder="69409749"
                    formControlName="celular"
                    autocomplete="off"
                  />

                  <mat-hint align="end">
                    {{
                      pedidoCarritoForm.value.celular
                        ? getString(pedidoCarritoForm.value.celular).length
                        : 0
                    }}/8
                  </mat-hint>
                  <mat-icon matSuffix [color]="isValidField('celular').color">
                    {{ isValidField("celular").icon }}
                  </mat-icon>
                  <mat-error
                    *ngIf="pedidoCarritoForm.get('celular').errors?.required"
                  >
                    Ingrese el numero de celular o telefono.
                  </mat-error>
                  <mat-error
                    *ngIf="
                      pedidoCarritoForm.get('celular').errors?.pattern;
                      else min_maxLength
                    "
                  >
                    Debe incluir solo numeros.
                  </mat-error>
                  <ng-template #min_maxLength>
                    <mat-error
                      *ngIf="pedidoCarritoForm.get('celular').errors?.minlength"
                    >
                      Debe contener
                      {{
                        pedidoCarritoForm.get("celular").errors?.minlength
                          ?.requiredLength
                      }}
                      numeros como minimo.
                    </mat-error>
                    <mat-error
                      *ngIf="pedidoCarritoForm.get('celular').errors?.maxlength"
                    >
                      Debe contener
                      {{
                        pedidoCarritoForm.get("celular").errors?.maxlength
                          ?.requiredLength
                      }}
                      numeros como maximo.
                    </mat-error>
                  </ng-template>
                </mat-form-field>

                <!-- *Correo -->
                <mat-form-field
                  class="full-width full-column"
                  [color]="isValidField('correo').color"
                >
                  <mat-label>Correo</mat-label>
                  <input matInput formControlName="correo" />
                  <mat-icon matSuffix [color]="isValidField('correo').color">
                    {{ isValidField("correo").icon }}
                  </mat-icon>
                  <mat-error
                    *ngIf="pedidoCarritoForm.get('correo').errors?.required"
                  >
                    Por favor ingrese el correo.
                  </mat-error>
                  <mat-error
                    *ngIf="pedidoCarritoForm.get('correo').errors?.pattern"
                  >
                    Por favor ingrese un correo valido.
                  </mat-error>
                </mat-form-field>

                <!-- *Direccion -->
                <mat-form-field
                  class="full-width full-column"
                  [color]="isValidField('direccion').color"
                >
                  <mat-label>Direccion</mat-label>
                  <textarea
                    matInput
                    placeholder="Ex. Avenida Segunda"
                    formControlName="direccion"
                  ></textarea>
                  <mat-hint align="end">
                    {{
                      pedidoCarritoForm.value.direccion
                        ? pedidoCarritoForm.value.direccion.length
                        : 0
                    }}/200
                  </mat-hint>
                  <mat-icon
                    matSuffix
                    [color]="isValidField('direccion').color"
                    *ngIf="pedidoCarritoForm.value.direccion"
                  >
                    {{ isValidField("direccion").icon }}
                  </mat-icon>
                  <mat-error
                    *ngIf="pedidoCarritoForm.get('direccion').errors?.maxlength"
                  >
                    Debe contener
                    {{
                      pedidoCarritoForm.get("direccion").errors?.maxlength
                        ?.requiredLength
                    }}
                    digitos como maximo.
                  </mat-error>
                </mat-form-field>

                <mat-form-field
                  class="full-width"
                  [color]="isValidField('nombreFactura').color"
                >
                  <mat-label>Nombre para la Factura</mat-label>
                  <input
                    matInput
                    formControlName="nombreFactura"
                    autocomplete="no"
                  />
                  <mat-icon
                    matSuffix
                    [color]="isValidField('nombreFactura').color"
                  >
                    {{ isValidField("nombreFactura").icon }}
                  </mat-icon>
                </mat-form-field>

                <mat-form-field
                  class="full-width"
                  [color]="isValidField('nitCI').color"
                >
                  <mat-label>NIT o CI</mat-label>
                  <input matInput formControlName="nitCI" autocomplete="no" />
                  <mat-icon matSuffix [color]="isValidField('nitCI').color">
                    {{ isValidField("nitCI").icon }}
                  </mat-icon>
                </mat-form-field>

                <h2 class="full-column text-center">Mas Informacion</h2>
                <p class="full-column no-margin">
                  Si tienes algo mas que hacernos saber, sobre la direccion o
                  algun dato extra puedes agregar una descripcion opcional aqui
                  abajo.
                </p>

                <mat-form-field
                  class="full-width full-column"
                  [color]="isValidField('descripcion').color"
                >
                  <mat-label>Descripcion</mat-label>
                  <textarea
                    matInput
                    placeholder="Ex. Añade una descripcion"
                    formControlName="descripcion"
                  ></textarea>
                  <mat-hint align="end">
                    {{
                      pedidoCarritoForm.value.descripcion
                        ? pedidoCarritoForm.value.descripcion.length
                        : 0
                    }}/500
                  </mat-hint>
                  <mat-icon
                    matSuffix
                    [color]="isValidField('direccion').color"
                    *ngIf="pedidoCarritoForm.value.descripcion"
                  >
                    {{ isValidField("descripcion").icon }}
                  </mat-icon>
                  <mat-error
                    *ngIf="
                      pedidoCarritoForm.get('descripcion').errors?.maxlength
                    "
                  >
                    Debe contener
                    {{
                      pedidoCarritoForm.get("descripcion").errors?.maxlength
                        ?.requiredLength
                    }}
                    digitos como maximo.
                  </mat-error>
                </mat-form-field>
              </div>
            </section>

            <section>
              <div class="detalle-pedido">
                <h2 class="full-column text-center">Tipo de Envio</h2>

                <mat-radio-group
                  class="full-column full-width"
                  formControlName="tipoEnvio"
                >
                  <mat-radio-button color="primary" value="carpinteria">
                    <span style="white-space: normal">
                      Recoger pedido en la carpinteria
                    </span>
                  </mat-radio-button>

                  <mat-radio-button color="primary" value="delivery">
                    <div style="white-space: normal">
                      Envio a domicilo.
                      <span class="text-bold">
                        (Costo adicional fuera del area de envio gratuito)
                      </span>
                    </div>
                  </mat-radio-button>
                </mat-radio-group>

                <h2 class="full-column text-center">Metodo de Pago</h2>

                <mat-radio-group
                  class="full-column full-width"
                  formControlName="metodoDePago"
                >
                  <mat-radio-button
                    color="primary"
                    value="deposito_transferencia_qr"
                  >
                    <div style="white-space: normal">
                      Depósito Bancario o Pago QR
                    </div>
                  </mat-radio-button>
                  <br />
                  <mat-radio-button color="primary" value="efectivo">
                    <span style="white-space: normal">
                      Pagar al recibir el pedido
                    </span> </mat-radio-button
                  ><br />

                  <mat-radio-button color="primary" value="paypal">
                    <div style="white-space: normal">
                      Paypal
                      <span class="text-bold"> (Beta) </span>
                    </div>
                  </mat-radio-button>

                  <picture
                    style="
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                    "
                    *ngIf="
                      pedidoCarritoForm.value.metodoDePago ===
                      'deposito_transferencia_qr'
                    "
                  >
                    <img src="./assets/bnb.jpeg" alt="" width="300px" />

                    <div>
                      <span class="text-bold">Banco:</span>
                      BNB
                    </div>
                    <div>
                      <span class="text-bold">Numero de Cuenta:</span>
                      3502282572
                    </div>
                    <div>
                      <span class="text-bold">Tipo de moneda:</span>
                      Bolivianos
                    </div>
                    <br />
                  </picture>
                </mat-radio-group>
              </div>
            </section>
          </form>

          <div class="btn-stepper">
            <button
              [disabled]="!(carritoProducto && pedidoCarritoForm.valid)"
              (click)="addPedido()"
              mat-button
              class="mat-btn-primary"
              matStepperNext
            >
              Realizar Pedido
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>

    <section>
      <div class="payment-summary mat-elevation-z1">
        <h2 class="cart-title gradient-text">
          Area de envios gratuito en Cochabamba
        </h2>

        <iframe
          src="https://www.google.com/maps/d/u/3/embed?mid=1d_wL-Rg4055dy4rzSRz4VoQ_rOgcrDqg&ehbc=2E312F"
          width="100%"
          height="400"
        ></iframe>
      </div>
    </section>
  </div>

  <app-card-slider
    [title]="'Recientemente agregados'"
    [id]="'recientemente-agregados'"
    [products]="productos"
    [qParams]="{ order: 'recientemente_agregados' }"
  ></app-card-slider>

  <br />
</div>
