.filter-active {
  color: var(--info) !important;
}

.filter-mobile {
  position: sticky;
  top: 60px;
  // background-color: white !important;
  display: none;
  grid-template-columns: 1fr auto;
  width: 100%;
  max-width: 100%;
  align-items: center;
  z-index: 99;

  .active-filters {
    overflow-y: auto;
    max-width: 100%;
  }

  .active-filters {
    overflow-y: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    margin: 0 5px;
    padding-bottom: 5px;

    // justify-content: center;
    // background-color: blue;
  }

  .active-filters div {
    white-space: nowrap;
    background-color: var(--gray1);
    border-radius: 25px;
    padding: 0 5px;
    margin: 0 5px;
  }
}

.content {
  // background-color: blue;
  height: 100%;
}

.products-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  height: 100%;
}

.side-nav {
  position: sticky;
  top: 60px;

  max-height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

.cotegory-side-container {
  width: 200px;
  height: 100%;
  background-color: var(--background);
  // border-right: solid 1px var(--gray1);

  z-index: 1;
  position: relative;

  .img-reset {
    width: 45%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .btn-reset {
    position: absolute;
    top: 0;
    right: 0;
    z-index: inherit;
    color: white;
  }

  .btn-reset:hover mat-icon {
    animation: spin 1s;
  }

  mat-radio-button {
    margin: 5px !important;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }

  .list-category {
    padding: 0px 20px;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;

    button {
      align-self: center;
    }
  }

  .category {
    // display: inline;
    // margin: 0 10px;

    a {
      text-decoration: none;
      font-size: 16px;
      color: var(--text-color);
    }

    a:hover {
      color: var(--primary);
    }

    .linkActive {
      background-color: red;
    }
  }
}

.list-item {
  width: 100%;
  padding: 20px 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0px, 257px));
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 15px;
}

@media screen and (max-width: 520px) {
  .products-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .cotegory-side-container {
    display: none;
  }

  .filter-mobile {
    display: grid;
  }
}
