<div class="content" (scrolled)="onScrollDown()" infiniteScroll>
  <button
    mat-fab
    color="primary"
    class="up-button"
    *ngIf="showButton"
    (click)="onScrollTop()"
  >
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <div class="products-container">
    <div class="filter-mobile">
      <div class="active-filters"></div>

      <button class="mat-btn-primary" mat-button [matMenuTriggerFor]="animals">
        Filtrar
      </button>
      <mat-menu #animals="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="Nuevo_Ofertas">
          <span class="gradient-text font-head"> Nuevo y Ofertas</span>
        </button>

        <button mat-menu-item [matMenuTriggerFor]="price">
          <span class="gradient-text font-head">Precio</span>
        </button>

        <button mat-menu-item>
          <section class="example-section">
            <mat-checkbox
              color="primary"
              [(ngModel)]="params.disponibilidad"
              (change)="filterProducts()"
            >
              Sólo en Existencias
            </mat-checkbox>
          </section>
        </button>
      </mat-menu>

      <mat-menu #Nuevo_Ofertas="matMenu">
        <mat-radio-group
          [(ngModel)]="params.order"
          (change)="filterProducts()"
          color="primary"
        >
          <mat-radio-button value="recientemente_agregados">
            <span style="white-space: normal"> Recientemente agregados</span>
          </mat-radio-button>
          <mat-radio-button value="en_descuento">
            En descuento
          </mat-radio-button>
        </mat-radio-group>
      </mat-menu>

      <mat-menu #Nuevo_Ofertas="matMenu">
        <button mat-menu-item>cat name</button>
      </mat-menu>

      <mat-menu #price="matMenu">
        <mat-radio-group
          [(ngModel)]="params.precio"
          (change)="filterProducts()"
          color="primary"
          style="display: flex; flex-direction: column; margin: 15px 0"
        >
          <mat-radio-button value="todos"> Todos </mat-radio-button>
          <mat-radio-button value="menos_de_100bs">
            Menos de 100Bs.
          </mat-radio-button>

          <mat-radio-button value="100bs_200bs">
            100bs. a 200Bs.
          </mat-radio-button>
          <mat-radio-button value="200bs_300bs">
            200bs. a 300Bs.
          </mat-radio-button>
          <mat-radio-button value="300bs_500bs">
            300bs. a 500bs.
          </mat-radio-button>
          <mat-radio-button value="500bs_mas"> 500bs. y más </mat-radio-button>
        </mat-radio-group>
      </mat-menu>
    </div>

    <div class="cotegory-side-container">
      <section class="side-nav">
        <ul class="list-category">
          <h3 class="gradient-text font-head" style="margin-top: 0">
            Nuevo y Ofertas
          </h3>
          <mat-radio-group
            [(ngModel)]="params.order"
            (change)="filterProducts()"
            color="primary"
          >
            <!-- <mat-radio-button value="todos"> Todos </mat-radio-button> -->
            <mat-radio-button value="recientemente_agregados">
              <span style="white-space: normal"> Recientemente agregados</span>
            </mat-radio-button>
            <mat-radio-button value="en_descuento">
              En descuento
            </mat-radio-button>
          </mat-radio-group>

          <h3 class="gradient-text font-head">Precio</h3>
          <mat-radio-group
            [(ngModel)]="params.precio"
            (change)="filterProducts()"
            color="primary"
          >
            <mat-radio-button value="todos"> Todos </mat-radio-button>
            <mat-radio-button value="menos_de_100bs">
              Menos de 100Bs.
            </mat-radio-button>

            <mat-radio-button value="100bs_200bs">
              100bs. a 200Bs.
            </mat-radio-button>
            <mat-radio-button value="200bs_500bs">
              200bs. a 500Bs.
            </mat-radio-button>
            <mat-radio-button value="500bs_1000bs">
              500bs. a 1000bs.
            </mat-radio-button>
            <mat-radio-button value="1000bs_mas">
              1000bs. y más
            </mat-radio-button>
          </mat-radio-group>

          <h3 class="gradient-text font-head">Disponibilidad</h3>

          <li class="category">
            <mat-checkbox
              color="primary"
              [(ngModel)]="params.disponibilidad"
              (change)="filterProducts()"
            >
              Sólo en Existencias
            </mat-checkbox>
          </li>
          <br />

          <button
            mat-button
            class="mat-btn-primary"
            [routerLink]="['/products']"
            [queryParams]="{}"
          >
            Restablecer Valores
          </button>
        </ul>
      </section>
    </div>

    <div>
      <section class="products">
        <div class="list-item">
          <app-card-product
            *ngFor="let producto of filteredProductos"
            [producto]="producto"
            [empty]="productos.length ? false : true"
          ></app-card-product>
        </div>
      </section>
    </div>
  </div>
</div>
