<div class="content">
  <section class="about">
    <div>
      <h3 class="h3">
        <span class="emoji">📌</span>
        <span class="title gradient-text"> Nuestra Direccion</span>
      </h3>
      <p>Av. Ingavi casi Melchor Perez de Olguin N 2470 Cochabamba, Bolivia.</p>

      <h3 class="h3">
        <span class="emoji">📞</span>
        <span class="title gradient-text"> Informacion de Contacto</span>
      </h3>
      <p>
        Puedes contactarnos al numero
        <a
          href="https://api.whatsapp.com/send?phone=59169509449&text=Me%20interesa%20uno%20de%20sus%20productos"
          >+591 69509449</a
        >.
      </p>

      <h3 class="h3">
        <span class="emoji">📃</span>
        <span class="title gradient-text"> Acerca de Nosotros</span>
      </h3>

      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia neque
        quaerat soluta. Rem atque vero exercitationem! Natus minus nulla nihil
        eligendi! Quod adipisci in hic voluptate quam dicta natus eius? Vel sint
        reprehenderit dignissimos natus ipsa hic molestiae voluptate, ratione
        laborum cumque possimus soluta similique tenetur magnam architecto
        explicabo alias eligendi exercitationem labore ex, quasi ducimus dolore
        odio aspernatur? Deleniti! Hic, consectetur magnam? Commodi, aut autem
        facilis laborum quis maxime quas error magni omnis et quibusdam nemo
        doloremque, id quos impedit minima. Labore consequatur vero quo est,
        accusantium nisi saepe Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Maxime, excepturi? Officiis dolore commodi, incidunt
        porro veniam ut id quam illum dolorem obcaecati numquam! Aspernatur
        consequatur doloremque eos. Fugiat, vitae saepe!
      </p>
    </div>
    <iframe
      src="https://www.google.com/maps/d/u/3/embed?mid=1pgh5kheCgrIymjDwyOHe4U9haHl_EtRx&ehbc=2E312F"
      width="640"
      height="480"
    ></iframe>
  </section>
</div>
