<div class="content">
  <section class="about">
    <div class="address mat-elevation-z2">
      <h3 class="h3">
        <span class="emoji">📌</span>
        <span class="title gradient-text"> Nuestra Direccion</span>
      </h3>
      <p>Av. Ingavi casi Melchor Perez de Olguin N 2470 Cochabamba, Bolivia.</p>

      <h3 class="h3">
        <span class="emoji">📞</span>
        <span class="title gradient-text"> Informacion de Contacto</span>
      </h3>
      <p>
        Puedes contactarnos a los numeros:
        <a
          href="https://api.whatsapp.com/send?phone=59177413166&text=Me%20interesa%20uno%20de%20sus%20productos"
          >+591 77413166</a
        >
        ,

        <a
          href="https://api.whatsapp.com/send?phone=59177499792&text=Me%20interesa%20uno%20de%20sus%20productos"
          >+591 77499792</a
        >
        y
        <span> +591 4446257</span>.
      </p>

      <h3 class="h3">
        <span class="emoji">📃</span>
        <span class="title gradient-text"> Acerca de Nosotros</span>
      </h3>

      <p>
        Empresa dedicada a la satisfacción de las necesidades de nuestros
        clientes en el diseño y fabricación de productos diversos en madera y
        melamina de la más alta calidad en el mercado nacional.
      </p>

      <p>
        La fábrica de muebles cuenta con el equipo humano e infraestructura que
        nos participar de proyectos de carpintería de moderna.
      </p>
    </div>
    <iframe
      src="https://www.google.com/maps/d/u/3/embed?mid=1pgh5kheCgrIymjDwyOHe4U9haHl_EtRx&ehbc=2E312F"
      width="640"
      height="480"
    ></iframe>

    <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d243661.45578503964!2d-66.182254!3d-17.401695!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x314e23fa2a1e48b2!2sConstelaci%C3%B3n%20Corp!5e0!3m2!1ses-419!2sus!4v1651593746238!5m2!1ses-419!2sus"
      width="640"
      height="480"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe> -->
  </section>
</div>
