<div class="content">
  <div class="content-product">
    <div class="product-view mat-elevation-z">
      <div class="product-view-content">
        <div
          class="first-img mat-elevation-z1"
          (click)="currentFoto ? modalPreview($event, currentFoto) : ''"
        >
          <img
            [src]="
              currentFoto
                ? this.getImage(currentFoto.keyName)
                : './assets/no-image.svg'
            "
            alt="no image"
          />
        </div>

        <div class="thumbs">
          <div
            class="img-thumb mat-elevation-z1"
            *ngFor="let foto of producto.fotos"
            (click)="modalPreview($event, foto)"
          >
            <img [src]="getImage(foto.keyName)" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="product-detail mat-elevation-z">
      <h2 class="full-column">
        <span class="title gradient-text">
          {{ producto.nombre }}
        </span>
      </h2>
      <div class="star-rating">
        <a class="stars">
          <mat-icon class="star-checked"> star </mat-icon>
          <mat-icon class="star-checked"> star </mat-icon>
          <mat-icon class="star-checked"> star </mat-icon>
          <mat-icon class="star-checked"> star </mat-icon>
          <mat-icon class="star-checked"> star </mat-icon>
        </a>
      </div>
      <div class="availability">
        <mat-chip-list aria-label="availability">
          <mat-chip class="font-head" [class]="stockColor(producto.stock)">
            {{ alertStock(producto.stock) }}
          </mat-chip>
        </mat-chip-list>
      </div>

      <h2 class="full-column font-head">
        <span class="font-icon" *ngIf="producto.descuento > 0">💸</span>
        <span class="antes-price font-head" *ngIf="producto.descuento > 0">
          Bs. {{ producto.precio }}</span
        >
        <span class="font-head">
          Bs. {{ producto.descuento > 0 ? getDescuento() : producto.precio }}
        </span>
      </h2>

      <div class="categories full-column">
        <mat-chip-list aria-label="categories-list">
          <mat-chip
            class="category"
            *ngFor="let categoria of producto.categorias"
          >
            {{ categoria.nombre }}
          </mat-chip>
        </mat-chip-list>
      </div>
      <p class="description full-column">
        {{ producto.descripcion }}
      </p>
      <div class="quantity"></div>

      <button
        class="btn-carrito full-column"
        (click)="addCarritoProducto()"
        mat-button
      >
        <mat-icon> add_shopping_cart </mat-icon>
        Agregar al Carrito
      </button>
      <a href="#" class="wish-list full-column">
        <mat-icon> favorite_border </mat-icon>
        Agregar a lista de deseados</a
      >
    </div>
  </div>

  <div class="content-rm">
    <div class="product-rating">
      <h3 class="text-center">
        <span class="font-icon"> ⭐ </span>
        <span class="gradient-text font-head"
          >Calificaciones del Producto
        </span>
      </h3>
      <span>{{ Opiniones ? Opiniones.length : 0 }} calificaciones</span>

      <div class="list-stars">
        <div class="star-progress">
          <span>5 estrellas</span>
          <span>
            <mat-progress-bar
              mode="determinate"
              [value]="stars[4]"
            ></mat-progress-bar>
          </span>
          <span>{{ stars[4] }}%</span>
        </div>
        <div class="star-progress">
          <span>4 estrellas</span>
          <mat-progress-bar
            mode="determinate"
            [value]="stars[3]"
          ></mat-progress-bar>
          <span>{{ stars[3] }}%</span>
        </div>
        <div class="star-progress">
          <span>3 estrellas</span>
          <mat-progress-bar
            mode="determinate"
            [value]="stars[2]"
          ></mat-progress-bar>
          <span>{{ stars[2] }}%</span>
        </div>
        <div class="star-progress">
          <span>2 estrellas</span>
          <mat-progress-bar
            mode="determinate"
            [value]="stars[1]"
          ></mat-progress-bar>
          <span>{{ stars[1] }}%</span>
        </div>
        <div class="star-progress">
          <span>1 estrellas</span>
          <mat-progress-bar
            mode="determinate"
            [value]="stars[0]"
          ></mat-progress-bar>
          <span>{{ stars[0] }}%</span>
        </div>
      </div>

      <mat-divider></mat-divider>

      <h3 class="text-center">
        <span class="font-icon"> 📝 </span>

        <span class="font-head gradient-text">
          Escribir opinión de este producto
        </span>
      </h3>

      <p>Comparte tu opinión con otros clientes</p>

      <button mat-button class="btn-comentario" (click)="newComentario()">
        Añadir Opinión
      </button>
    </div>

    <div class="product-comment">
      <h3 class="full-column-pc text-center">
        <span class="font-icon"> 📄 </span>

        <span class="gradient-text font-head"> Opiniones de clientes </span>
      </h3>

      <div class="comment mat-elevation-z1" *ngFor="let opinion of Opiniones">
        <div class="user-comment full-column-pc">
          <span class="user-circle">
            {{ opinion.usuario.nombre.slice(0, 1) | titlecase }}</span
          >
          <span>{{
            opinion.usuario.nombre +
              " " +
              opinion.usuario.apellidoPaterno +
              " " +
              opinion.usuario.apellidoMaterno | titlecase
          }}</span>
        </div>
        <div class="star-rating">
          <div class="stars">
            <mat-icon
              [class]="opinion.puntuacion >= 1 ? 'star-checked' : 'empty-star'"
            >
              star
            </mat-icon>
            <mat-icon
              [class]="opinion.puntuacion >= 2 ? 'star-checked' : 'empty-star'"
            >
              star
            </mat-icon>
            <mat-icon
              [class]="opinion.puntuacion >= 3 ? 'star-checked' : 'empty-star'"
            >
              star
            </mat-icon>
            <mat-icon
              [class]="opinion.puntuacion >= 4 ? 'star-checked' : 'empty-star'"
            >
              star
            </mat-icon>
            <mat-icon
              [class]="opinion.puntuacion === 5 ? 'star-checked' : 'empty-star'"
            >
              star
            </mat-icon>
          </div>
        </div>
        <h4 class="font-head">{{ opinion.titulo }}</h4>
        <span class="full-column-pc date-comment">{{
          getRelativeTime(opinion.creadoEn)
        }}</span>
        <!-- <span class="full-column-pc compra-verificada"> Compra Verificada</span> -->
        <p class="full-column-pc">
          {{ opinion.descripcion }}
        </p>
      </div>

      <div class="full-column-pc text-center" *ngIf="!Opiniones.length">
        <img src="./assets/reviews.svg" width="70%" alt="reviews image" />
      </div>
    </div>
  </div>
</div>
