.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-product {
  display: grid;
  width: 98%;
  height: auto;
  // grid-gap: 20px;
  grid-template-columns: repeat(2, minmax(auto, 550px));
  justify-content: center;
  gap: 15px;
}

.product-view-content {
  position: sticky;
  top: 70px;
  // background-color: blue;
  width: 100%;
  height: auto;
  max-width: 510px;

  margin: 0 auto;
}

.product-view {
  width: 100%;
  height: auto;
  border-radius: 10px;

  .first-img {
    width: 100%;
    height: 350px;
    max-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-radius: 10px;
    background-color: white;
  }

  .first-img img {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    display: inline-block;
    flex-shrink: 0;
    object-fit: contain;
  }

  .thumbs {
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    grid-gap: 10px;
    margin-top: 5px;
    // background-color: red;
    justify-content: center;
  }

  .img-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: white;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .thumbs img {
    width: auto;
    // height: 100%;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    flex-shrink: 0;
  }
}
.product-detail {
  padding: 0px 20px;
  margin-top: 10px;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;

  background-color: white;
}

.full-column {
  grid-column: span 2;
}
.full-column-pc {
  grid-column: span 2;
}

.title {
  word-wrap: break-word;
  font-family: var(--font-head);
}
.star {
  color: var(--gray1);
}

.star-checked {
  color: var(--accent);
}

.empty-star {
  color: var(--gray1);
}

.star-middle {
  background: linear-gradient(to right, var(--accent) 50%, var(--gray1) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.antes-price {
  color: var(--gray2);
  text-decoration: line-through;
}

.availability {
  display: flex;
  justify-content: flex-end;
}
.description {
  word-wrap: break-word;
  font-size: 16px;
  text-align: justify;
  // background-color: white;
  border-radius: 10px;
  width: 100% !important;
  padding: 5px;
  margin-top: 10px;
}

.info-stock {
  background-color: var(--info);
  color: white;
}

.warn-stock {
  background-color: var(--warn);
  color: white;
}

.btn-carrito {
  // align-self: center;
  // justify-self: center;
  // width: 250px;
  background-color: var(--primary);
  color: white;
  font-size: 18px;
  border-radius: 25px;
  padding: 5px 0;
  margin: 20px 0;

  &:hover {
    box-shadow: 0 0 3.5px 3.5px var(--primary);
  }
}

.btn-comentario {
  width: auto;
  background-color: var(--primary);
  color: white;
  border-radius: 25px;
  width: 100%;
  // font-size: 18px;
  // padding: 5px 0;
  // margin: 20px 0;

  &:hover {
    box-shadow: 0 0 3.5px 3.5px var(--primary);
  }
}

.wish-list {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &:hover {
    color: var(--primary);
  }
}

.content-rm {
  position: relative;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  justify-content: center;
  align-items: flex-start;
  grid-gap: 20px;
  width: 90%;
  margin: 30px 0;
}

.content-rm .product-rating {
  position: sticky;
  top: 70px;
  height: auto;

  background-color: var(--card-bg);
  padding: 16px;
  border-radius: 10px;
}

.list-stars {
  width: 100%;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .star-progress {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(80px, auto) 1fr minmax(40px, auto);
    justify-content: space-between;
    align-items: center;
    grid-gap: 5px;
  }
}

.product-comment {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--card-bg);
  padding: 16px;
  border-radius: 10px;
}

.product-comment .comment {
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 5px;
  border: 2px solid var(--gray0);

  h4 {
    margin: 5px;
  }
}

.user-comment {
  display: flex;
  align-items: center;
  gap: 16px;
}
.user-circle {
  background-color: var(--primary);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.compra-verificada {
  color: var(--primary);
  font-weight: bold;
  font-size: 13px;
}

.date-comment {
  font-size: 13px;
}

@media screen and(max-width: 1100px) {
  .product-view .first-img {
    height: 300px;
  }
}

@media screen and(max-width: 750px) {
  .content-product {
    grid-template-columns: 1fr;
    margin-top: 15px;
    gap: 0;
  }

  .content-rm {
    grid-template-columns: 1fr;
  }

  .content-rm .product-rating {
    position: relative;
    top: 0;

    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    .btn-comentario {
      width: auto;
    }
  }

  // .list-stars .star-progress {
  //   grid-template-columns: minmax(80px, auto) 1fr minmax(40px, auto);
  //   justify-content: space-between;
  //   align-items: center;
  // }
}

@media screen and(max-width: 400px) {
  .product-view .first-img {
    height: 250px;
  }
  h2 {
    font-size: 18px;
  }
}

@media screen and(max-width: 315px) {
  .product-detail {
    grid-template-columns: 1fr;
  }

  .product-detail .availability {
    display: flex;
    justify-content: flex-start;
  }

  .full-column {
    grid-column: span 1;
  }
}

@media screen and(max-width: 540px) {
  .product-comment .comment {
    grid-template-columns: 1fr;
  }
  .full-column-pc {
    grid-column: span 1;
  }
}
