<div class="content">
  <div class="content-product">
    <div class="product-view mat-elevation-z">
      <div class="product-view-content">
        <div
          class="first-img mat-elevation-z"
          (click)="currentFoto ? modalPreview($event, currentFoto) : ''"
        >
          <img
            [src]="
              currentFoto
                ? this.getImage(currentFoto.keyName)
                : './assets/no-image.svg'
            "
            alt="no image"
          />
        </div>

        <div class="thumbs">
          <div
            class="img-thumb mat-elevation-z"
            *ngFor="let foto of producto.fotos"
            (click)="modalPreview($event, foto)"
          >
            <img [src]="getImage(foto.keyName)" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="product-detail mat-elevation-z">
      <h2 class="full-column">
        <span class="title gradient-text">
          {{ producto.nombre }}
        </span>
      </h2>
      <div class="star-rating">
        <div class="stars">
          <mat-icon class="star-checked"> star </mat-icon>
          <mat-icon class="star-checked"> star </mat-icon>
          <mat-icon class="star-checked"> star </mat-icon>
          <mat-icon class="star-checked"> star </mat-icon>
          <mat-icon class="star-middle"> star </mat-icon>
        </div>
      </div>
      <div class="availability" sty>
        <mat-chip-list aria-label="availability">
          <mat-chip class="font-head" [class]="stockColor(producto.stock)">
            {{ alertStock(producto.stock) }}
          </mat-chip>
        </mat-chip-list>
      </div>
      <h2 class="price full-column font-head">
        <span *ngIf="producto.descuento > 0">💸</span>
        <span class="antes-price font-head" *ngIf="producto.descuento > 0">
          Bs. {{ producto.precio }}</span
        >
        Bs. {{ producto.descuento > 0 ? getDescuento() : producto.precio }}
      </h2>

      <div class="categories full-column">
        <mat-chip-list aria-label="categories-list">
          <mat-chip
            class="category"
            *ngFor="let categoria of producto.categorias"
          >
            {{ categoria.nombre }}
          </mat-chip>
        </mat-chip-list>
      </div>
      <p class="description full-column">
        {{ producto.descripcion }}
      </p>
      <div class="quantity"></div>

      <button class="btn-carrito full-column" mat-button>
        Agregar al Carrito
      </button>
      <a href="#" class="wish-list full-column">
        <mat-icon> favorite_border </mat-icon>
        Agregar a lista de deseados</a
      >
    </div>
  </div>

  <div class="content-rm">
    <div class="product-rating">
      <h3 class="text-center">
        ⭐
        <span class="font-head gradient-text"
          >Calificaciones del Producto
        </span>
      </h3>
      <span>{{ Opiniones ? Opiniones.length : 0 }} calificaciones</span>

      <div class="list-stars">
        <div class="star-progress">
          <span>5 estrellas</span>
          <span>
            <mat-progress-bar
              mode="determinate"
              [value]="stars[4]"
            ></mat-progress-bar>
          </span>
          <span>{{ stars[4] }}%</span>
        </div>
        <div class="star-progress">
          <span>4 estrellas</span>
          <mat-progress-bar
            mode="determinate"
            [value]="stars[3]"
          ></mat-progress-bar>
          <span>{{ stars[3] }}%</span>
        </div>
        <div class="star-progress">
          <span>3 estrellas</span>
          <mat-progress-bar
            mode="determinate"
            [value]="stars[2]"
          ></mat-progress-bar>
          <span>{{ stars[2] }}%</span>
        </div>
        <div class="star-progress">
          <span>2 estrellas</span>
          <mat-progress-bar
            mode="determinate"
            [value]="stars[1]"
          ></mat-progress-bar>
          <span>{{ stars[1] }}%</span>
        </div>
        <div class="star-progress">
          <span>1 estrellas</span>
          <mat-progress-bar
            mode="determinate"
            [value]="stars[0]"
          ></mat-progress-bar>
          <span>{{ stars[0] }}%</span>
        </div>
      </div>

      <mat-divider></mat-divider>

      <h3 class="text-center">
        📝
        <span class="font-head gradient-text">
          Escribir opinión de este producto
        </span>
      </h3>

      <p>Comparte tu opinión con otros clientes</p>

      <button mat-button class="btn-comentario" (click)="newComentario()">
        Añadir Opinión
      </button>
    </div>

    <div class="product-comment">
      <h3 class="full-column-pc text-center">
        📄<span class="gradient-text font-head"> Opiniones de clientes </span>
      </h3>

      <!-- <div class="comment">
        <div class="user-comment full-column-pc">
          <span class="user-circle">B</span>
          <span>Bladimir Medrano Vargas</span>
        </div>
        <div class="star-rating">
          <div class="stars">
            <mat-icon class="star-checked"> star </mat-icon>
            <mat-icon class="star-checked"> star </mat-icon>
            <mat-icon class="star-checked"> star </mat-icon>
            <mat-icon class="star-checked"> star </mat-icon>
            <mat-icon class="star-middle"> star </mat-icon>
          </div>
        </div>
        <h4 class="font-head">Fine for Low Powered Devices Fine</h4>
        <span class="full-column-pc date-comment">07/05/2021 03:30 pm.</span>
        <span class="full-column-pc compra-verificada">Compra Verificada</span>
        <p class="full-column-pc">
          This is a decent, well constructed USB-C to USB3 hub. The biggest
          issue with the hub is that it's not powered and has no option to be
          externally powered which docked off 1 star. I docked another star
          because the cable is attached and only about 20" long and not
          removable. Would have been nice to have a removable cable that you
          could swap out with a longer one if you need to.
        </p>
      </div> -->

      <div class="full-column-pc text-center">
        <img src="./assets/reviews.svg" width="70%" alt="reviews image" />
      </div>
    </div>
  </div>
</div>
