<div class="max-content">
  <div class="swiper-container">
    <div class="btn-sp">
      <button
        class="sp-btn-prev"
        mat-icon-button
        matTooltip="Atras"
        matTooltipPosition="below"
      >
        <mat-icon class="mat-18"> arrow_back </mat-icon>
      </button>

      <button
        class="sp-btn-next"
        mat-icon-button
        matTooltip="Siguiente"
        matTooltipPosition="below"
      >
        <mat-icon class="mat-18"> arrow_forward </mat-icon>
      </button>
    </div>

    <swiper
      class="swiper"
      fxFlex="auto"
      [config]="config"
      (indexChange)="onIndexChange($event)"
    >
      <div class="swiper-slide">
        <div class="img-slider with-gradient">
          <img src="./assets/banner_1.png" alt="" />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="img-slider with-gradient">
          <img src="./assets/banner_2.png" alt="" />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="img-slider with-gradient">
          <img src="./assets/banner_3.png" alt="" />
        </div>
      </div>
    </swiper>
  </div>

  <div class="content">
    <div class="top-categorias">
      <div
        class="mat-elevation-z1 categoria"
        *ngFor="let categoria of categorias"
      >
        <div class="card-header">
          <h2 class="gradient-tex">{{ categoria.nombre | titlecase }}</h2>
        </div>
        <div class="img-container">
          <img [src]="getImage(categoria.keyName)" alt="" />
        </div>
        <div class="card-footer">
          <a href="#">Ver más</a>
        </div>
      </div>

      <!-- <div class="mat-elevation-z1 categoria">
        <div class="card-header">
          <h2 class="gradient-tex">Marcos</h2>
        </div>
        <div class="img-container">
          <img
            src="https://reformaenergeticamalaga.es/images/tipos-de-marcos-en-ventanas.jpg"
            alt=""
          />
        </div>
        <div class="card-footer">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="mat-elevation-z1 categoria">
        <div class="card-header">
          <h2 class="gradient-tex">Mesas</h2>
        </div>
        <div class="img-container">
          <img
            src="https://www.homecenter.com.co/static/landing/guiasdecompra/Guias_de_compra_2/img/como-hacer-una-mesa-de-madera/MESA-DE-SALON-MADERA.jpg"
            alt=""
          />
        </div>
        <div class="card-footer">
          <a href="#">Ver más</a>
        </div>
      </div>

      <div class="mat-elevation-z1 categoria">
        <div class="card-header">
          <h2 class="gradient-tex">Vitrinas</h2>
        </div>
        <div class="img-container">
          <img
            src="https://i.pinimg.com/564x/35/2a/84/352a84ce620d9a60cd8f5b71e0dc048c.jpg"
            alt=""
          />
        </div>
        <div class="card-footer">
          <a href="#">Ver más</a>
        </div>
      </div> -->
    </div>

    <app-card-slider
      [title]="'Novedades'"
      [id]="'novedades'"
      [products]="productos"
      [qParams]="{ order: 'novedades' }"
    ></app-card-slider>

    <app-card-slider
      [title]="'En descuento'"
      [id]="'en-descuento'"
      [products]="productos"
      [qParams]="{ order: 'en_descuento' }"
    ></app-card-slider>
    <app-card-slider
      [title]="'Recientemente agregados'"
      [id]="'recientemente-agregados'"
      [products]="productos"
      [qParams]="{ order: 'recientemente_agregados' }"
    ></app-card-slider>
    <br />
  </div>
</div>
