<div class="content">





  <section class="product-list">

    <div routerLink="/products" class="product-card">
      <div class="product-image">
      </div>
      <!-- <img width="100" h src="./assets/imagen_1.jpg" alt="imagen producto"> -->
      <div class="product-content">
        <a class="product-title">Puerta Metalica XD</a>
        <span class="product-price">
          100 bs.
        </span>
        <button mat-button class="btn-primary">Agregar al Carrito</button>
      </div>
    </div>


    <div routerLink="/products" class="product-card">
      <div class="product-image">
      </div>
      <!-- <img width="100" h src="./assets/imagen_1.jpg" alt="imagen producto"> -->
      <div class="product-content">
        <a class="product-title">Puerta Metalica XD</a>
        <span class="product-price">
          100 bs.
        </span>
        <button mat-button class="btn-primary">Agregar al Carrito</button>
      </div>
    </div>
    <div routerLink="/products" class="product-card">
      <div class="product-image">
      </div>
      <!-- <img width="100" h src="./assets/imagen_1.jpg" alt="imagen producto"> -->
      <div class="product-content">
        <a class="product-title">Puerta Metalica XD</a>
        <span class="product-price">
          100 bs.
        </span>
        <button mat-button class="btn-primary">Agregar al Carrito</button>
      </div>
    </div>
    <div routerLink="/products" class="product-card">
      <div class="product-image">
      </div>
      <!-- <img width="100" h src="./assets/imagen_1.jpg" alt="imagen producto"> -->
      <div class="product-content">
        <a class="product-title">Puerta Metalica XD</a>
        <span class="product-price">
          100 bs.
        </span>
        <button mat-button class="btn-primary">Agregar al Carrito</button>
      </div>
    </div>





  </section>

  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus quod corporis omnis deleniti totam officia minus,
  harum ipsa cupiditate consequatur laborum, ut error delectus beatae! Minus repudiandae modi maxime perspiciatis.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus quod corporis omnis deleniti totam officia minus,
  harum ipsa cupiditate consequatur laborum, ut error delectus beatae! Minus repudiandae modi maxime perspiciatis.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus quod corporis omnis deleniti totam officia minus,
  harum ipsa cupiditate consequatur laborum, ut error delectus beatae! Minus repudiandae modi maxime perspiciatis.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus quod corporis omnis deleniti totam officia minus,
  harum ipsa cupiditate consequatur laborum, ut error delectus beatae! Minus repudiandae modi maxime perspiciatis.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus quod corporis omnis deleniti totam officia minus,
  harum ipsa cupiditate consequatur laborum, ut error delectus beatae! Minus repudiandae modi maxime perspiciatis.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus quod corporis omnis deleniti totam officia minus,
  harum ipsa cupiditate consequatur laborum, ut error delectus beatae! Minus repudiandae modi maxime perspiciatis.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus quod corporis omnis deleniti totam officia minus,
  harum ipsa cupiditate consequatur laborum, ut error delectus beatae! Minus repudiandae modi maxime perspiciatis.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus quod corporis omnis deleniti totam officia minus,
  harum ipsa cupiditate consequatur laborum, ut error delectus beatae! Minus repudiandae modi maxime perspiciatis.

</div>
