<mat-sidenav-container class="example-container">

  <mat-sidenav mode="side" [opened]="false">
    <img class="logo" src="./assets/liraki_logo.svg" alt="logo liraki">
  </mat-sidenav>







  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z2">
      <div class=" logo">
        <img class="isotipo" src="./assets/liraki_isotipo.svg" alt="logo liraki">
        <span>LIRAKI</span>
      </div>


      <ul>
        <li>
          <a routerLink="home" routerLinkActive="linkActive">Inicio</a>
        </li>

        <li>
          <a routerLink="products" routerLinkActive="linkActive">Productos</a>
        </li>

        <li>
          <a routerLink="categories" routerLinkActive="linkActive">Categorias</a>
        </li>
        <li>
          <a routerLink="about" routerLinkActive="linkActive">Nosotros</a>
        </li>

        <button mat-icon-button>
          <mat-icon>
            shopping_cart
          </mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="accountMenu">
          <mat-icon>
            account_circle
          </mat-icon>
        </button>

        <mat-menu #accountMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>login</mat-icon>
            <span>Iniciar Sesion</span>
          </button>

          <button mat-menu-item>
            <mat-icon>app_registration</mat-icon>
            <span>Registrarse</span>
          </button>
        </mat-menu>

      </ul>


    </mat-toolbar>
    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
