.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

// mat-sidenav-content {
//   display: grid;
//   grid-template-rows: auto auto 1fr auto;
// }

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: inherit;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 60px;
  overflow: hidden;
  background-color: white;

  ul {
    list-style: none;

    li {
      display: inline;
      margin: 0 10px;
    }

    li a {
      text-decoration: none;
      font-size: 18px;
      font-weight: bolder;
      color: var(--secondary);
    }

    li a:hover {
      color: var(--primary);
    }

    button {
      color: var(--secondary);
    }
  }

  .linkActive {
    color: var(--primary) !important;
  }
}

.logo {
  display: flex;
  align-items: center;

  .isotipo {
    height: 50px;
  }

  span {
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--secondary);
  }
}

.mat-sidenav-content {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  width: 100vw;
  max-width: 100vw;
}
