<section class="novedades mat-elevation-z1">
  <button
    class="btn-arrow btn-back"
    id="btn-left-prev"
    mat-icon-button
    matTooltip="Atras"
    matTooltipPosition="below"
    (click)="back()"
  >
    <mat-icon class="mat-18"> arrow_back </mat-icon>
  </button>

  <button
    class="btn-arrow btn-forward"
    id="btn-right-prev"
    mat-icon-button
    matTooltip="Siguiente"
    matTooltipPosition="below"
    (click)="next()"
  >
    <mat-icon class="mat-18"> arrow_forward </mat-icon>
  </button>

  <div class="card-header">
    <h2>{{ title }}</h2>
    <a
      [routerLink]="['/products']"
      [queryParams]="qParams"
      queryParamsHandling="merge"
      >Ver más
    </a>
  </div>

  <ng-container *ngIf="products">
    <div class="list-novedades" [id]="id">
      <a
        href="#"
        class="novedad"
        [routerLink]="['/product/', product.uuid]"
        *ngFor="let product of products"
      >
        <img
          [src]="
            product.keyName
              ? getImage(product.keyName)
              : './assets/no-image.svg'
          "
          alt=""
        />
      </a>
    </div>
  </ng-container>
</section>
