<div
  class="card-item mat-elevation-z2"
  [routerLink]="['/product/', producto.uuid]"
>
  <div class="img-container mat-elevation-z">
    <img
      loading="lazy"
      [src]="
        producto.fotos.length
          ? getImage(producto.fotos[0].keyName)
          : './assets/no-image.svg'
      "
      [alt]="
        producto.fotos.length ? producto.fotos[0].nombre : 'imagen producto'
      "
      class="card-img"
    />
  </div>

  <h3 class="card-title">
    <span>
      {{ producto.nombre }}
    </span>
  </h3>

  <div class="details">
    <span *ngIf="producto.descuento > 0">💸</span>
    <span
      class="item-price antes-price font-head"
      *ngIf="producto.descuento > 0"
      >Bs. {{ producto.precio }}
    </span>

    <span class="item-price font-head">
      Bs. {{ producto.descuento > 0 ? getDescuento() : producto.precio }}
    </span>

    <div class="stock">
      <span class="font-head" [class]="stockColor(producto.stock)">{{
        alertStock(producto.stock)
      }}</span>
    </div>
  </div>
</div>
