.card-item {
  min-width: 220px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  background-color: var(--card-bg);
  color: var(--text-color);
}

.img-container {
  width: 215px;
  height: 215px;
  background-color: white;
  // border: 1px var(--secondary);
  border-radius: 5px;
  margin: 10px;
  border: 2px solid var(--light-primary);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-container img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  display: inline-block;
  flex-shrink: 0;
}

.card-title {
  margin: 10px;
  // height: 30px;
  font-size: 16px;
  word-wrap: break-word;
  width: 90%;
  position: relative;
  font-weight: 500;
}

.card-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-title > span:hover {
  color: var(--primary);
  text-decoration: underline;
}

.details {
  width: 90%;
  align-items: flex-start;
  margin-bottom: 15px;
  color: var(--secondary);
}

.details .item-price {
  font-size: 16px;
  // font-style: italic;
  color: var(--secondary);
}

.antes-price {
  text-decoration: line-through;
  color: var(--gray2) !important;
}

.stock {
  margin-top: 10px;
  font-size: 14px;
}
.stock-agotado {
  color: var(--warn);
}

.stock-disponible {
  color: var(--info);
}
