<mat-dialog-content align="center">
  <mat-icon> production_quantity_limits </mat-icon>

  <h1 align="center" class="gradient-tex h-title">Producto Agotado!</h1>
  <h3>No hay stock disponible para agregar al carrito.</h3>
</mat-dialog-content>

<mat-dialog-actions mat-dialog-actions align="center">
  <button
    mat-button
    [mat-dialog-close]="false"
    class="mat-btn-secondary full-width"
    mat-dialog-close
  >
    Cancelar
  </button>
  <button
    mat-button
    [mat-dialog-close]="true"
    class="mat-btn-success full-width"
    routerLink="/products"
  >
    Ver Productos
  </button>
</mat-dialog-actions>
